*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, whitesmoke, purple);
}

.calculator{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > button{
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px solid purple;
    outline: none;
    background-color: whitesmoke;
}

.calculator > button.red{
    background-color: rgba(255, 68, 0, 0.712);
    color: white;
}

.calculator > button.purple{
    background-color: rgba(86, 12, 116, 0.658);
    color: white;
}

.calculator > button:hover{
    background-color: rgba(245, 245, 245, 0.836);
}

.calculator button.plus{
    grid-row: span 2;
    height: 140px;
}

.two{
    grid-column: span 2;
}

.three{
    grid-column: span 3;
    color: purple;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.screen{
    grid-column: 1 / -1;
    background-color: hsla(0, 0%, 0%, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.screen .prevSolution{
    color: purple;
    font-size: 1.5rem;
}

.screen .currSolution{
    color: white;
    font-size: 2.5rem;
}


@media only screen and (max-width: 768px){
    .calculator{
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: minmax(60px, auto) repeat(5, 70px);
    }

    .screen{
        background-color: transparent;
    }

    .screen .prevSolution{
        color: black;
        font-size: 1.5rem;
    }
}